.footer__copyright {
    padding: 67px 0 60px;
}
   
@media screen and (max-width: 880px) {
  .footer__copyright {
     padding: 48px 19px 36px;
  }
}
   
@media screen and (max-width: 720px) {
 .footer__copyright {
   padding: 48px 19px 36px;
 }
}