.footer {
  max-width: 880px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media screen and (max-width: 880px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 720px) {
.footer {
  font-size: 14px;
  line-height: 17px;
}
}